﻿@model ArtkelWwf.Models.image

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tittle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tittle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artkel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artkel) 
        </dd>

        <dt>
            
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImagePath)" width="250" height="250" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
